# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
local_settings.py

# virtualenv
.venv
venv/
ENV/
env_tache/
.vscode

# mypy
.mypy_cache/

.DS_Store
src/*.sqlite3
*.sqlite3
src/media/
*.pyc
*.db
*.pid

# django migrations 
**/migrations/**
!**/migrations
!**/migrations/__init__.py