{% extends 'base.html' %}

{% block title %}
Tâches
{% endblock title %}

{% block content %}

 <div class="row">
        <div class="col-md-8 col-lg-8 col-sm-12 m-md-auto m-lg-auto">
                       {% if messages  %}

            {% for message in messages %}
                {% if message.tags == 'error' %}
                 <div class="alert alert-danger" role="alert">
                    {{message}}
                </div>

                {% else %}

                 <div class="alert alert-{{ message.tags }}" role="alert">
                    {{message}}
                </div>
                {% endif %}
               
            
            {% endfor %}

            {% endif %}


                <ul class='list-group'>
                {% if todos %}
                        {% for todo in todos %}
                            <li class="list-group-item">
                            {{todo.title}}
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
        </div>
</div>


    

{% endblock content %}