{% extends 'base.html' %}

{% block title %}
Tâches
{% endblock title %}

{% block content %}

<div class="row">

<div class="col-md-8 col-lg-8 col-sm-12 m-lg-auto m-md-auto">

  <ul class="list-group">
    
    {% if todos %}
        {% for todo in todos %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
                <span>
                    <a href="" class='btn btn-sm btn-success mr-2'><i class='flaticon-file'></i></a>
                    {{todo.title}}
                </span>
                <div class="">
                    <a href="" class='btn btn-sm btn-outline-danger'><i class='flaticon-delete'></i></a>
                    <a href="{% url 'todos:edit' id=todo.id %}" class='btn btn-sm btn-outline-warning'><i class='flaticon-edit'></i></a>
                </div>
            </li>
        {% endfor %}
    {% endif %}

    </ul>


</div>
</div>

  
{% endblock content %}