{% extends 'base.html' %}

{% block title %}
Register
{% endblock title %}


{% block content %}

    <div class="row">
        <div class="col-md-8 col-lg-8 col-sm-12 m-md-auto m-lg-auto">
            <h1>Register</h1>
            <hr>

            {% if messages  %}

            {% for message in messages %}
                {% if message.tags == 'error' %}
                 <div class="alert alert-danger" role="alert">
                    {{message}}
                </div>

                {% else %}

                 <div class="alert alert-{{ message.tags }}" role="alert">
                    {{message}}
                </div>
                {% endif %}
               
            
            {% endfor %}

            {% endif %}

            


            <form action="{% url 'account:register' %}" method='post'>

                {% csrf_token %}
                
                <div class="form-group">
                
                <label for="username">Username</label>
                    <input type="text" name="username" class='form-control'>
                </div>

                 
                <div class="form-group">
                
                <label for="first_name">First name</label>
                    <input type="text" name="first_name" class='form-control'>
                </div>

                 
                <div class="form-group">
                
                <label for="last_name">Last name</label>
                    <input type="text" name="last_name" class='form-control'>
                </div>

                 
                <div class="form-group">
                
                <label for="email">Email</label>
                    <input type="email" name="email" class='form-control'>
                </div>

                 
                <div class="form-group">
                
                <label for="password">Password</label>
                    <input type="password" name="password" class='form-control'>
                </div>

                 <div class="form-group">
                
                <label for="password">Confirm password</label>
                    <input type="password" name="password_confirm" class='form-control'>
                </div>

                <button type='submit' class='btn btn-dark'>Enregistrer</button>

            </form>


        </div>
    </div>
{% endblock content %}